@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import "tailwindcss";

@theme {
  --color-bakery-burgundy: #461e20;
  --color-bakery-olive: #3e442b;
  --color-bakery-cream: #fff8f0;
  --color-bakery-red: #9e2a2b;
  --color-bakery-gray: #e5e7eb;

  --font-bakery-noto: "Noto Sans JP", sans-serif;
  --font-bakery-quicksand: "Quicksand", sans-serif;
}
